@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<main class="container">
  <h2>Edit</h2>

  <h4>Edit this stylist: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class="form-control" })

    @Html.LabelFor(model => model.EmploymentDate)
    @Html.TextBoxFor(model => model.EmploymentDate,
  new { @type = "date" , @value = DateTime.Today, @class="form-control" })

    @Html.LabelFor(model => model.ContactNum, "Contact Number")
    @Html.TextBoxFor(model => model.ContactNum,
  new { @class="form-control" })

    @Html.LabelFor(model => model.Schedule)
    @Html.TextBoxFor(model => model.Schedule, new { @class="form-control" })

    <input class="btn btn-dark" type="submit" value="Save" role="button" />
  }
  <a class="btn btn-dark" href='@Url.Action("Index", "Stylists")' role="button" type="button">Back to Stylists</a>

</main>