@{
  Layout = "_Layout";
}

@model EauClairesSalon.Models.Client
<main class="container">
  <h4>Add a new client</h4>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.CurlinessType)
    @Html.DropDownList("StylistId")

    @Html.LabelFor(model => model.StrandsType)
    @Html.DropDownList("StylistId")


    @Html.DropDownList("Departments", new List<SelectListItem>
{ 
      new SelectListItem { Text = "unknown", Value = "unknown", Selected=true},
      new SelectListItem { Text = "HR", Value = "2"},
      new SelectListItem { Text = "Payroll", Value = "3"}

}, "Select Strand Type") 

    @Html.LabelFor(model => model.VolumeType)
    @Html.DropDownList("StylistId")

    @Html.LabelFor(model => model.ContactNum)
    @Html.TextBoxFor(model => model.ContactNum)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <button type="submit" value="Add new Client" class="btn btn-dark" />
  }
  <p>@Html.ActionLink("Show all Clients", "Index")</p>
</main>
