@{
  Layout = "_Layout";
}

@model EauClairesSalon.Models.Client

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.CurlinessType)
  @Html.DropDownList("StylistId")

  @Html.LabelFor(model => model.StrandsType)
  @Html.DropDownList("StylistId")

  @Html.LabelFor(model => model.VolumeType)
  @Html.DropDownList("StylistId")

  @Html.LabelFor(model => model.ContactNum)
  @Html.TextBoxFor(model => model.ContactNum)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>