@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<main class="container detail">
  <h2>Client Details</h2>
  <hr />
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
      <h4>Stylist: @Html.DisplayFor(model => model.Stylist.Name) </h4>
      <p>Curliness Type: @Html.DisplayFor(model => model.CurlinessType)<br />
        Strands Type: @Html.DisplayFor(model => model.StrandsType)<br />
        Volume Type: @Html.DisplayFor(model => model.VolumeType)</p>

      <h5>Contact Number: @Html.DisplayFor(model => model.ContactNum) </h5>

      <p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
      <p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>
      <p>@Html.ActionLink("Back to list", "Index")</p>
</main>