@{
  Layout = "_Layout";
}

@model EauClairesSalon.Models.Stylist

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.EmploymentDate)
  @Html.TextBoxFor(model => model.EmploymentDate,
new { @type = "date" , @value = DateTime.Now })

  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>