@{
  Layout = "_Layout";
}

@model EauClairesSalon.Models.Stylist
<main class="container">
  <h4>Add a new task</h4>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.EmploymentDate)
    @Html.TextBoxFor(model => model.EmploymentDate,
  new { @type = "date" , @value = DateTime.Now })

    @Html.LabelFor(model => model.ContactNum)
    @Html.TextBoxFor(model => model.ContactNum)

    @Html.LabelFor(model => model.Schedule)
    @Html.TextBoxFor(model => model.Schedule)

    <input type="submit" value="Add new stylist" class="btn btn-dark" />
  }
  <p>@Html.ActionLink("Show all stylists", "Index")</p>
</main>